.rightsection{
margin-left: 1080px;

margin-top: -840px;






display: flex;
flex-direction: column;

height: auto;
width: 290px;

z-index: 1000; /* Ensure it's above other elements */

vertical-align: top;


}
.rightsectionlink{
height: 74px;

margin-bottom: 2px;
display: flex;
flex-direction: column;
}
.profileblock{
  display: flex;
  flex-direction: row;
  height: 74px;
  margin-bottom: 2px;
}
.photoo{
  margin-right: 7px;
  display: flex;
  height: 72px;
  
  width: 58px;
  cursor: pointer;


  margin-top:0;
  bottom: 0;
}
.namesection{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 5px;
 

}
.switch{
  display: flex;
  width: 90px;


}
.profilenamee{
  height: 25px;
  width: 300px;
  font-size: 15px;
  font-weight:500;
  padding-top: 5px;
  padding-bottom:-10px ;
  cursor: pointer;

  
}
.profilenikename{
  height: 37px;
  width: 340px;
  font-size: 15px;
  font-weight: lighter;
  color: rgb(120, 120, 120);
  padding-top: -10px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.img{
  width:50px;
  height: 50px;
  cursor: pointer;
}
.switch{
  vertical-align: middle;
margin-left: -4px;
padding-left: 36px;
padding-top: 15px;
color: rgb(0, 149, 246);
font-size: 15px;
cursor: pointer;

}
.suggestion{
  display: flex;
  flex-direction: row;
  height: 50px;
  width:300px;
  margin-bottom: 10px;
}
.Suggestedforyou{
  width: 242px;
  color: rgb(115, 115, 115);

}
.seeall{
  font-size: 14px;
}
.profileblock{
  display: flex;
  flex-direction: row;
  height: 74px;
  margin-bottom: 2px;
}
.photoo{
  margin-right: 7px;
  display: flex;
  height: 74px;
  
  width: 60px;
 

  margin-top:0;
  bottom: 0;
  cursor: pointer;
  position: relative;
 
}
.photoo .tooltip{
  position: absolute;
  height: auto;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
 
  width: 300px;
  transition: opacity 0.15s;
  align-items: center;
  left:0;
  top: 50px;
  pointer-events: none;

  z-index: 7;
  display: block;
  
}
.photoo:hover .tooltip{
  opacity: 1;
}
.namesections{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-left: 5px;
 

}
.switch{
  display: flex;
  width: 100px;
  cursor: pointer;

}

.profilenamees{
  height: 25px;
  
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

font-size:14px;
font-weight :600;
 color: rgb(8, 7, 7);
  padding-top: 5px;
  padding-bottom:-10px ;
  margin-bottom: -5px;
  cursor: pointer;
  position: relative; 
}

.profilenamees .tooltip{
  position: absolute;
  height: auto;
  opacity: 0;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
 
  width: 300px;
  transition: opacity 0.15s;
  align-items: center;
  left:-10px;
  top: 50px;
  pointer-events: none;

  z-index: 7;
  display: block;
  
}
.profilenamees:hover .tooltip{
  opacity: 1;
}


.profilenikenames{
  height: 37px;
  
  width: 350px;
  
  color: rgb(120, 120, 120);
  padding-top: -10px;
  font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

  font-size:12px;
  font-weight :600;
  
}
.img{
  width:50px;
  height: 50px;
  cursor: pointer;
  z-index: 5;
}
.follow{
  display: flex;
  width: 100px;
  vertical-align: middle;
margin-left: 4px;
padding-left: 29px;
padding-top: 15px;
color: rgb(0, 149, 246);
font-size: 15px;
cursor: pointer;
}
.profileblocks{
  display: flex;
  flex-direction: row;
  height: 62px;
  margin-bottom: -7px;
  margin-top: 5px;
}
.imgs{
  width:46px;
  height: 46px;
  border-radius:23px ;
  cursor: pointer;
}
  .container{
    
  height: 200px;
  margin-top: 357px;
  
  }
  .about{
    font-size: 11.5px;
    color: rgb(199, 199, 199);
  }
  .location{
    font-size: 11.5px;
    color: rgb(199, 199, 199);
    margin-top: -5px;
  }
  .INSTAGRAM{
    font-size: 12px;
    color: rgb(199, 199, 199);
    margin-top: 28px;
   
  }
  .follow:hover{
    color: rgb(0, 55, 107)
  }
  .switch:hover{
    color: rgb(0, 55, 107)
  }

  